<h1>ゲームレビューの投稿</h1>
<%= form_with model: @game_review do |review| %>
    <h4>タイトル</h4>
    <%= review.text_field :title %>
    <h4>本文</h4>
    <%= review.text_area :body%>
    <%= review.submit '投稿' %>
<% end %>
